.selected-vessel {
  position: fixed;
  top: 0;
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}
.shipment-details {
  position: fixed;
  top: 0;
  left: 1000px;
  padding-left: 20px;
  height: 93%;
}
.container-table {
  left: 310px;
  top: 0;
  height: max-content;
  border-left: 2px black solid;
  border-right: 2px black solid;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
select {
  margin-right: 40px;
  height: 30px;
}
h2 {
  font-weight: 500;
  font-size: 25px;
}
h3 {
  font-weight: 300;
}
button {
  width: 100px;
  height: 35px;
  border-radius: 8px;
  border: 1.5px black solid;
  cursor: pointer;
  color: black;
}
button:hover {
  opacity: 0.4;
}
.add {
  background-color: rgb(225, 225, 225);
}
.dont-add {
  background-color: rgb(121, 121, 121);
}
